<div class="blank-layout-container justify-content-center align-items-center bg-light">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img src="./assets/images/logos/nsp.jpeg" class="align-middle m-2" alt="NSP logo" />
            </a>
          </div>


          <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Username</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="uname" />
              @if (f.uname.hasError('required') && f.uname.touched) {
                <mat-error>Username is required.</mat-error>
              }
            </mat-form-field>
            <!-- password -->
            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" formControlName="password" />
              @if (f.password.hasError('required') && f.password.touched) {
                <mat-error>Password is required.</mat-error>
              }
            </mat-form-field>

            @if (errorMessage) {
              <div class="text-error m-b-12" role="alert">{{ errorMessage }}</div>
            }
            <button type="submit" mat-flat-button color="primary" class="w-100">
              Sign In
            </button>
            <!-- input -->
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
